.v-select {
    background-color: #fff;
    font-family: "Open Sans",Arial,sans-serif;
    line-height: normal !important;
    border: 0;
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.2);
    color: #222;
    display: block;
    font-size: 14px;
    margin: 0;
    width: 213px;

    .dropdown-toggle {
        border: none!important;

        .open-indicator {
            &:before {
                border-color: rgba(60,60,60, .3);
            }
        }
    }
}